.main {
  flex: 8 100px;
  background: white;
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  border-left: 1px solid #EBEBEB; }

@media all and (min-width: 300px) and (max-width: 800px) {
  .main {
    display: none;
    border-left: none;
    margin: 0;
    padding: 0; }
  .active {
    display: block;
    flex: 12 100px; } }
